.square1 {
    grid-column: 1/span 2;
    grid-row: 1/span4;
    width: 40vw;
    height: 60vh;
    background-color: rgba(138, 124, 194, 0.6);
    border-radius: 10px;
    float: center;
    align-items: left;


}
.Orderneeds{
    text-align: center;
    font-size: 30px;
    color: white;
    font-family: Cambria;
    /* float: left; */
}

.notification{
    text-align: left;

}
.notification ul {
    display: inline-block;
   list-style:none;

}

.notification ul il {
    text-decoration: none;
    font-size: 30px;
}

.square1 title {
    font-size: 30px;
    color: black;
    font-family: Cambria;
}

.completebutton {
    grid-column: 1/span 2;
    grid-row: 5;
    padding-top: 1vh;
    float: center;
    padding-left: 5vw;
}

.buttoncomplete {
    background-color: #5ca904;
    width: 30vw;
    height: 15vh;
    float: center;
    align-items: center;
}

.square2 {
    grid-column: 3;
    background-color: rgba(138, 124, 194, 0.6);
    width: 30vw;
    height: 10vh;
}

.square3 {
    grid-column: 3/span 2 ;
    width: 40vw;
    height: 60vh;
    background-color: rgba(138, 124, 194, 0.6);
    border-radius: 10px;
}

.timericon {
    grid-column: 4;
}