*{
    margin:0;
    padding: 0;
}

.main{
    width: 100vw;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.navbar{
    width: 40vw;
    height: 15vh;
    margin:auto;
}
.icon{
    float: left;
    width: 10vw;
    height: 15vh;
}
.logo{
    color: #5ca904;
}